<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <nav>
      <a href="/products"><i class="fa-solid fa-fish-fins"></i></a>
    </nav>

    <div class="container">
      <h1>Northwest Fish</h1>

      <div class="product-container">
        <% product.forEach(product => { %>
        <div class="product-card">
          <p class="product-name"><%= product.name %></p>
          <div class="img-container">
            <a href="products/<%= product._id %>"
              ><img src="<%= product.img %>" alt="" class="index-img"
            /></a>
            <p class="product-price"><span>$</span><%= product.price %></p>
          </div>

          <% if (product.qty <= 0) { %>
          <p class="product-stock">Out of Stock</p>
          <% } else {%>
          <p class="product-stock">Qty: <%= product.qty %></p>
          <% } %>
        </div>
        <% }) %>
      </div>
      <a class="new-fish" href="products/new">Add a new fish</a>
    </div>
  </body>
</html>
