<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <nav>
      <a href="/products"><i class="fa-solid fa-fish-fins"></i></a>
    </nav>
    <div class="container" id="show-container">
      <div class="show-img">
        <img src="<%= product.img %>" alt="" />
      </div>
      <div class="product-details">
        <h2 class="show-name"><%= product.name %></h2>

        <p class="show-price">
          <span id="dollar-sign">$</span><%= product.price%>
        </p>
        <p class="show-description"><%= product.description %></p>
        <a href="/products/<%= product._id %>/edit">Edit</a>
        <form
          action="/products/<%= product._id %>?_method=DELETE"
          method="POST"
        >
          <input id="delete" type="submit" value="Delete" />
        </form>
      </div>
      <div class="buy">
        <% if (product.qty > 0){ %>
        <p class="product-stock" id="show-stock">Qty: <%= product.qty %></p>
        <form
          action="/products/<%= product._id %>/buy?_method=PUT"
          method="POST"
        >
          <input id="buy-now" type="submit" value="Buy Now" />
        </form>
        <% } else { %>
        <p>Out of Stock</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
